#outerContainer {
  /* display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center; */
  gap: 20px;
  width: 970px;
}

.container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 970px;
}


.hovered {
  background: lightblue;
  color: blue;

}


.column {
  display: flex;
  width: 200px;
  height: 200px;
  flex: 1;
  background: lightgrey;
  margin: 20px;

}


/* .column {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  flex: 1;
  background: lightgrey;

} */