#outerContainer {
  width: fit-content;
}

.container {
  display: flex;

  
}


.hovered {
  /* transform: scale(1.1); */
  background-color: blue;
  

}


.box {
  display: flex;
  width: 200px;
  height: 200px;
  flex: 1;
  border-style: solid;
  margin: 20px;

}
