#outerContainer {
  width: 970px;
}

.container {
  display: flex;

  
}


.hovered {
  background: lightblue;
  color: blue;

}


.box {
  display: flex;
  width: 200px;
  height: 200px;
  flex: 1;
  background: lightgrey;
  margin: 20px;

}
